body {
    background-image: url("../image/back.jpeg");
    background-size: cover;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    color: aliceblue;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

form button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 16px;
    outline: none;
    border: none;
    color: olivedrab;
    margin-right: 8px;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 16px;
    outline: none;
    border: none;
    color: olivedrab;
    margin-left: 64px;
}
